@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1FAEE;
    font-family: 'Chivo Mono', monospace;
}
header{
    text-align: center;
}
.text_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.joke_body1{
    position: relative;
    margin-top: 80px;
    width: min(400px,80%);
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;
    margin-right: 20px;
}
.joke_bg1{
    z-index: -1;
    position: absolute;
    margin-left: -400px;
    margin-top: 90px;
    width: min(400px,80%);
    height: 200px;
    background-color: aqua;
    border-radius: 4px;
    border: 2px solid red;
}
.joke_body2{
    position: relative;
    margin-top: 80px;
    width: min(400px,80%);
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;
}

.joke_bg2{
    z-index: -1;
    position: absolute;
    margin-left: 440px;
    margin-top: 90px;
    border: 2px solid black;
    width: min(400px,80%);
    height: 200px;
    background-color: aqua;
    border-radius: 4px;
}
.button{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 40px;
}
.button .background{
    width : 150px;
    height :20px;
    background-color: aqua;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: -1;
}
.button p{
    width : 150px;
    height :20px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}